<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 

</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Facebook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) @* The index should show friends' posts *@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Posts", "UserProfile", "Account")</li> @*should be changed to users posts*@ 
                    <li>@Html.ActionLink("My Firends", "Friends", "Account")</li> @* Find a better way to view Friends list*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Requests
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu"> @* Find a better way to view those request*@
                            <li>@Html.ActionLink("Recieved Requests", "RecievedFriendRequests", "Account")</li>
                            <li>@Html.ActionLink("Sent Requests", "SentFriendRequests", "Account")</li>
                            <li>@Html.ActionLink("Suggested Requests", "NotFriends", "Account")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
