@model IEnumerable<NT_Project.Models.ApplicationUser>


<table class="table">

    @foreach (var item in Model) {
    <tr>
        <td align="center">
            <img src="@item.PhotoPath" class="img-circle" width=" 50">

            @Html.DisplayName(@Html.DisplayFor(modelItem => item.FirstName) + " " + @Html.DisplayFor(modelItem => item.LastName))
       
            @*Add link to the name  so that it can direct you to the profile of the user*@
        </td>
          
        <td>
            @Html.ActionLink(TempData["Text"].ToString(), TempData["Action"].ToString(), TempData["Controller"].ToString(), new { id = item.Id }, new { @class = "btn btn-primary btn-large" })

        </td>
        @*Can you add change the value in (TempData["Text") so it has a space [Send Request instead of SendRequest*@
    </tr>
    }

</table>
